@using Patterns.Extensions;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta name="application-name" content="Northwind" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <meta name="thumbnail" content="~/favicon.ico" />

    @await RenderSectionAsync("Metas", required: false)
    <title>@ViewData["Title"] - Northwind.Web</title>
    
    <meta name="publisher" content="Duncan" />
    <meta name="copyright" content="Copyright, Northwind @DateTime.UtcNow.ToJsonDateTimeString(). All Rights Reserved." />
    <meta name="author" content="Duncan Saunders" />
    <meta name="language" content="en" />
    
    <link rel="preload" href="~/css/bootstrap.min.css" as="style"/>
    <link rel="preload" href="~/css/site.min.css" as="style" />
    <link rel="preload" href="~/lib/fontawesome-free-6.2.1-web/css/fontawesome.min.css" as="style" />
    <link rel="preload" href="~/lib/fontawesome-free-6.2.1-web/css/solid.min.css" as="style"/>

    <link rel="preload" href="~/js/bootstrap.bundle.min.js" as="script"/>
    <link rel="preload" href="~/js/site.js" as="script" />
    <link rel="preload" href="~/js/validate-form.js" as="script" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.2.1-web/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.2.1-web/css/solid.min.css" />
   
    @await RenderSectionAsync("Style", required: false)
</head>
<body lang="en" dir="ltr">
    <header>
        <partial name="_Nav" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <noscript>
                <h3 style="color: red;">Javascript Disabled</h3>
                <p>
                    This site will not work properly without javascript being enabled.
                </p>
                <p>
                    Enable javascript for this site using your browser settings.
                </p>
            </noscript>
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <br />
            <div class="row">
                <div class="col-9">
                    &copy; @(DateTime.UtcNow.Year) - Northwind.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>    
                </div>
                <div class="col-3">
                    @await RenderSectionAsync("FooterColumn", required: false)
                </div>
            </div>            
        </div>
    </footer>  
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-5_3-color-mode-toggle.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/validate-form.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>