<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Northwind.Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Reporting" asp-controller="Home" asp-action="Index">Reporting</a>
                </li>
            </ul>
            <ul class="navbar-nav align-content-end">
                @if (Context.User.Identity?.IsAuthenticated ?? false)
                {                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-user"> </i>
                            <span>Hello @Context.User.Claims.Where(w => w.Type == "name").FirstOrDefault()?.Value</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item">
                                <a class="nav-link" href="https://localhost:7153/Identity/Account/Manage">
                                    <i class="fa-solid fa-gears"></i> Settings<span class="d-sm-none ms-2"><small>(On identity site)</small></span>
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link" asp-area="" asp-page="/Logout">
                                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>                    
                }                
                @*Add the site theme toggle*@
                <li class="nav-item dropdown">
                    <a id="bd-theme" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-circle-half-stroke"> </i>
                        <span class="d-sm-none ms-2">Toggle theme</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                                <i class="fa-solid fa-sun"></i>
                                <span>&nbsp;Light</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                                <i class="fa-solid fa-moon"></i>
                                <span>&nbsp;Dark</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                                <span>Auto</span>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
