@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Northwind Identity</h1>    
        
    <a href="https://localhost:7240/" target="_self"><h4>Return to Northwind Shop</h4></a>
</div>
