@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Metas
{
    <link rel="manifest" href="~/manifest.webmanifest" crossorigin="use-credentials">
    <base href="~/" />
}

<div class="text-center">   
    <div id="app">Check your console!</div>    
</div>

@section FooterColumn
{
    @*This is needed for the install me function*@   
    <button class="btn btn-sm btn-primary" id="install-me">Add to home screen</button>    
}

@section Scripts
{   
    @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") != "Development")
    {
        <script type="text/javascript">
            if ("serviceWorker" in navigator) {
                window.addEventListener("load", () => {                   
                    var workerpaths = ["service-worker.js", "/app/service-worker.js"];

                   for (var i = 0; i < workerpaths.length; i++)
                    {
                        navigator.serviceWorker
                            .register(workerpaths[i])
                            .then((registration) => {
                                console.log("Service Worker registered: ", registration);
                            })
                            .catch((registrationError) => {
                                console.error("Service Worker registration failed: ", registrationError);
                            });
                    }
                });
            }
        </script>
    }
            
    <script src="~/app/main.js" type="text/javascript"></script>
    <script src="~/installme.js" type="text/javascript"></script>
}
