@page
@model Northwind.Web.Pages.LogoutModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Keywords"] = "Northwind,Home";
    ViewData["Description"] = "Northwind Home Page";
    ViewData["RobotsFollow"] = true;
    ViewData["RobotsIndex"] = true;
}

<h3><i class="fa-solid fa-right-from-bracket"></i> Logging out...</h3>