@using Northwind.Context.Contexts;
@using Northwind.Context.Interfaces;
@using Northwind.Context.Models.Reporting;
@using Northwind.Reporting.Rcl.Data;
@using Northwind.Reporting.Rcl.Reports;
@using Northwind.Reporting.Models;

@model ReportConfig<SalesTotalsByAmountsReportParameters>

@{
    Layout = "_ReportConfigLayout";

    ViewData["Title"] = "Sales Total By Amount";
}

<h2>Sales Total By Amount</h2>

<partial name="_ReportParametersBase" model="Model.Parameters" />