@using Northwind.Context.Contexts;
@using Northwind.Context.Interfaces;
@using Northwind.Context.Models.Reporting;
@using Northwind.Reporting.Rcl.Data;
@using Northwind.Reporting.Rcl.Reports;

@model ReportConfig<SalesTotalsByAmountsReportParameters>

@{
    Layout = "_ReportConfigLayout";

    ViewData["Title"] = "Sales Total By Amount";
}

<h2>Sales Total By Amount</h2>

<div class="form-group">
    <label asp-for="Parameters.StartDate" class="form-label"></label>
    <input class="form-control" asp-for="Parameters.StartDate" />
    <span asp-validation-for="Parameters.StartDate" class="error"></span>
</div>

<div class="form-group">
    <label asp-for="Parameters.EndDate" class="form-label"></label>
    <input class="form-control" asp-for="Parameters.EndDate" />
    <span asp-validation-for="Parameters.EndDate" class="error"></span>
</div>