
@* Plain pages *@

@{
    ViewData["Title"] = "Reporting Home";
    ViewData["Keywords"] = "Northwind,Reporting";
    ViewData["Description"] = "Northwind Reporting Home Page";
    ViewData["RobotsFollow"] = false;
    ViewData["RobotsIndex"] = false;
}

@section Metas
{
        <partial name="_SeoMetas" />
}

<h2>Hello Reporting!</h2>